 .container {
     text-align: center;
 }
 
 .container>img {
     width: 400px;
     height: 300px;
     object-fit: contain;
     margin: 0 auto;
     position: absolute;
 }
 
 #gallery {
     margin: 300px 475px;
     display: flex;
     position: absolute;
 }
 
 #gallery>img {
     width: calc(100px - 2px);
     height: 100px;
     object-fit: contain;
     transition: transform .2s;
 }
 
 #gallery>img:hover {
     transform: scale(1.5);
 }
 
 button {
     position: relative;
     border: 0;
     background-color: white;
 }